/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$blue:              #2980b9;

$link-color:		$meta-gray;
$link-hover:        $gray;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

$sans-serif: "Helvetica Neue", "Helvetica", arial;
$big: 22px;
$medium: 18px;
$small: 16px!important;

$graisse:normal;

$big_spacing: 0.035em;
$medium_spacing: 0.04em;
$small_spacing: 0.05em;

$padding: 20px 40px!important;
$small_padding: 16px 24px!important;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
